## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [2]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [7]:
sample_list_1 = []

sample_list_1 = random.sample(range(100), k=80)
    
sample_list_1

[11,
 2,
 43,
 57,
 30,
 42,
 40,
 90,
 6,
 35,
 76,
 92,
 87,
 55,
 19,
 31,
 12,
 67,
 82,
 83,
 0,
 94,
 98,
 46,
 25,
 61,
 10,
 17,
 70,
 38,
 32,
 60,
 95,
 89,
 49,
 34,
 85,
 50,
 21,
 26,
 65,
 91,
 23,
 37,
 64,
 63,
 33,
 3,
 28,
 88,
 13,
 86,
 39,
 24,
 62,
 1,
 59,
 41,
 14,
 54,
 99,
 9,
 36,
 53,
 7,
 79,
 51,
 77,
 93,
 80,
 8,
 73,
 15,
 44,
 71,
 22,
 66,
 97,
 96,
 81]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [10]:
set1 = set(sample_list_1)
len(set1)

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [16]:
sample_list_2 = []

for i in range(80):
    sample_list_2.append(random.randint(0, 100))
    
sample_list_2

[50,
 29,
 70,
 33,
 12,
 3,
 100,
 97,
 55,
 66,
 86,
 0,
 3,
 32,
 14,
 98,
 21,
 28,
 11,
 35,
 26,
 100,
 69,
 71,
 58,
 44,
 25,
 100,
 64,
 93,
 50,
 66,
 0,
 89,
 60,
 0,
 7,
 73,
 60,
 53,
 98,
 52,
 11,
 67,
 60,
 53,
 45,
 74,
 70,
 63,
 73,
 44,
 87,
 82,
 13,
 33,
 42,
 6,
 82,
 16,
 100,
 30,
 5,
 89,
 5,
 71,
 62,
 80,
 57,
 89,
 61,
 23,
 17,
 12,
 44,
 0,
 29,
 90,
 15,
 30]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [17]:
set2 = set(sample_list_2)
len(set2)

53

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [36]:
list3 = []

for i in set1:
    if i not in set2:
        list3.append(i)
set3 = set(list3)

len(set3)

36

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [26]:
# Your code here
list4 = []

for i in set2:
    if i not in set1:
        list4.append(i)
set4 = set(list4)

[5, 16, 29, 45, 52, 58, 69, 74, 100]

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [38]:
# Your code here
list5 = []

for i in set1:
    if i in set2:
        list5.append(i)
set5 = set(list5)

#### (Optional) What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a formula to represent that relationship. Test your formula with Python code.

In [ ]:
# Your code here
# set5 ∪ set4 ∪ set3 = set1 ∪ set2
# set5 ∪ set3 = set1
# set5 ∪ set4 = set2
# set5 = set1 ∩ set2

#### Create an empty set called `set6`.

In [39]:
# Your code here
list6 = []
set6 = set(list6)

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [40]:
# Your code here
set6.update(set3) 
set6.update(set5) 
set6

{0,
 1,
 2,
 3,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 17,
 19,
 21,
 22,
 23,
 24,
 25,
 26,
 28,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 46,
 49,
 50,
 51,
 53,
 54,
 55,
 57,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 70,
 71,
 73,
 76,
 77,
 79,
 80,
 81,
 82,
 83,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99}

#### Check if `set1` and `set6` are equal.

In [41]:
# Your code here
set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [44]:
set2.issubset(set1)

False

In [42]:
set3.issubset(set1)

True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [43]:
set3.union(set4, set5) == set1.union(set2)

True

#### Using the `pop` method, remove an element from `set1`.

In [50]:
set1.pop()

0

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [49]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for item in list_to_remove:
    set1.discard(item)

{0,
 2,
 3,
 6,
 7,
 8,
 10,
 12,
 13,
 14,
 15,
 17,
 22,
 23,
 24,
 25,
 26,
 28,
 30,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 40,
 42,
 43,
 44,
 46,
 50,
 53,
 54,
 55,
 57,
 60,
 62,
 63,
 64,
 65,
 66,
 67,
 70,
 73,
 76,
 77,
 80,
 82,
 83,
 85,
 86,
 87,
 88,
 90,
 92,
 93,
 94,
 95,
 96,
 97,
 98}

In [51]:
# Another method
for item in list_to_remove:
    if item in set1:
        set1.remove(item)